<div class="dash-info">
    <div class="line"></div>
    <h2>Dashboard</h2>
    <p> Track our progress on this dashboard and learn more about the upcoming and deployed cleanup solutions.

        Our goal is to reduce floating plastic by 90% by 2040. According to our research, about 80% of riverine plastic
        pollution stems from 1000 rivers. To effectively clean up the oceans, we need to both clean up the plastic
        alreadyin the ocean and intercept plastic on its way through rivers.</p>

    <p>OCEANS: We are currently cleaning up plastic in the Great Pacific Garbage Patch with System 002. In tandem, we
        have
        started working on System 03, a larger, upgraded ocean system, which is expected to be the blueprint design for
        scaling to a fleet of systems.</p>

    <p>RIVERS: For our river Interceptor solutions, we are in the validation phase, with currently 10 deployed and more
        in
        the pipeline. Together with governments, partners, and individuals worldwide we can progress towards a future
        with
        cleaner oceans.</p>

</div>