<!--=============== NAV ===============-->
<div class="nav" id="nav">
    <nav class="nav-content">
        <div class="nav-toggle" id="nav-toggle">
            <i class='bx bx-chevron-right'></i>
        </div>

        <a href="#" class="nav-logo">
            <!-- <img class="nav-logo-img" src="/1200px-The_Ocean_Cleanup_logowhite.png"> -->
            <h3>O</h3>
        </a>

        <div class="nav-list">
            <a href="#" class="nav-link active-link">
                <i class='bx bx-grid-alt'></i>
                <span class="nav-name">Dashboard</span>
            </a>

            <a href="#turnglobe" class="nav-link">
                <i class='bx bx-world'></i>
                <span class="nav-name">Map</span>
            </a>


            <a href="#" class="nav-link">
                <i class='bx bx-bar-chart-square'></i>
                <span class="nav-name">Statistic</span>
            </a>

            <a href="#" class="nav-link">
                <i class="ri-contrast-2-line"></i>
                <span class="nav-name">Settings</span>
            </a>
        </div>
    </nav>
</div>