<div class="navbar">
    <nav class="nav">
        <img src="/1200px-The_Ocean_Cleanup_logowhite.png" alt="logo of The ocean cleanup">

        <menu class="nav-list">
            <a href="/" class="nav-link active" aria-label="dashboard">
                <i class='bx bx-grid-alt nav-icon'></i>
                <li>Dashboard</li>
            </a>
            <a href="/map" class="nav-link" aria-label="map">
                <i class='bx bx-world nav-icon'></i>
                <li>Map</li>
            </a>

            <button class="darkmode" value="darkmode button" aria-label="switch to darkmode">
                <a href="#" class="nav-link" aria-label="switch to darkmode">
                    <i class='ri-contrast-2-line nav-icon'></i>
                    <li><span id="darkmode-btn-text">Light</span></li>
                </a>
            </button>
    </nav>
    </menu>
</div>