<div class="navbar">
    <nav class="nav">
        <img src="/1200px-The_Ocean_Cleanup_logowhite.png">

        <ul class="nav-list">
            <a href="/" class="nav-link active">
                <i class='bx bx-grid-alt nav-icon'></i>
                <li>Dashboard</li>
            </a>
            <a href="/map" class="nav-link">
                <i class='bx bx-world nav-icon'></i>
                <li>Map</li>
            </a>

            <button class="darkmode">
                <a href="#" class="nav-link">
                    <i class='ri-contrast-2-line nav-icon'></i>
                    <li><span id="darkmode-btn-text">Light</span></li>
                </a>
            </button>
    </nav>
    </ul>
</div>