<%- include('./partials/head') %>

<aside>
    <%- include('./partials/sidebar') %>
</aside>

<main class="teamInfo">
    <%- include('./partials/mobileMessage') %>
</main>

<%- include('./partials/foot') %>
