<%- include('./partials/head.ejs') %>


    <!-- <div class="container" id="top"> -->

    <!-- <aside class="sidebar-wrapper">

            <div class="sidebar-header">
                <img src="/logo-tocl.png" alt="Logo">
                <div class="close-menu">
                    <i class="fas fa-chevron-left"></i>
                </div>
            </div>

            <nav>
                <ul>
                    <li><a href="#">
                            <i class="bx bx-grid-alt"></i>
                            <div class="title">dashboard</div>
                        </a></li>
                    <li><a href="#">
                            <i class="bx bx-world"></i>
                            <div class="title">map</div>
                        </a></li>
                    <li><a href="#">
                            <i class="bx bx-bar-chart-square"></i>
                            <div class="title">statics</div>
                        </a></li>
                    <button class="darkmode">
                        <li><a href="#">
                                <i class="ri-contrast-2-line"></i>
                                <div class="title"><span id="darkmode-btn-text">light</span></div>
                            </a></li>
                    </button>
                </ul>
            </nav>
        </aside>



        <header>
            <div class="header-wrapper">
                <img src="/1200px-The_Ocean_Cleanup_logowhite.png" alt="Logo">

                <div class="header-left"> -->
    <!-- <div class="toggle-icon">
                        <i class="fas fa-bars"></i>
                    </div> -->


    <!-- 

                    <a href="#">
                        <i class="bx bx-grid-alt"></i>
                        <div class="nav-title">dashboard</div>
                    </a>
                    <a href="#">
                        <i class="bx bx-world"></i>
                        <div class="nav-title">map</div>
                    </a> -->
    <!-- <a href="#">
                        <i class="bx bx-bar-chart-square"></i>
                        <div class="nav-title">statics</div>
                    </a> -->
    <!-- <button class="darkmode">
                        <a href="#">
                            <i class="ri-contrast-2-line"></i>
                            <div class="nav-title"><span id="darkmode-btn-text">light</span></div>
                        </a>
                    </button>
                </div>

            </div>
        </header> -->

    <div class="navbar">
        <nav class="nav">
            <img src="/1200px-The_Ocean_Cleanup_logowhite.png">

            <ul class="nav-list">
                <a href="#" class="nav-link active">
                    <i class='bx bx-grid-alt nav-icon'></i>

                </a>
                <a href="#" class="nav-link">
                    <i class='bx bx-world nav-icon'></i>

                </a>

                <button class="darkmode">
                    <a href="#" class="nav-link">
                        <i id="darkmode-btn-text" class='ri-contrast-2-line nav-icon'></i>
                    </a>
                </button>
            </ul>
        </nav>
    </div>

    <main>


        <div class="container2">
            <div class="header-dashboard">
                <h1>Dashboard</h1>
                <div class="searchbar">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Search...">
                </div>
            </div>

            <div class="menu">
                <div class="line"></div>
                <!-- <div class="menu-container">
                    <a href="#">
                        <li>General</li>
                    </a>
                    <a href="#">
                        <li>Oceans</li>
                    </a>
                    <a href="#">
                        <li>Rivers</li>
                    </a>
                </div> -->
            </div>

            <div class="panel box-1">
                <h2>Total</h2>
                <p>
                    352.624.190 kg

                </p>
            </div>

            <div class="panel box-2">
                <h2>Last 30 days</h2>
                <p>343.567.9 kg</p>
            </div>

            <div class="panel box-3">
                <div class="pulse-container">
                    <div class="status-pulse">
                        <div class="pulse green"></div>
                    </div>
                    <h2>In operation</h2>
                </div>

                <p>10 interceptors</p>
            </div>

            <div class="panel box-4">
                <h2>Percentage</h2>
                <div class="single-chart">
                    <svg viewBox="0 0 36 36" class="circular-chart green">
                        <path class="circle-bg" d="M18 2.0845
                          a 15.9155 15.9155 0 0 1 0 31.831
                          a 15.9155 15.9155 0 0 1 0 -31.831" />
                        <path class="circle" stroke-dasharray="60, 100" d="M18 2.0845
                          a 15.9155 15.9155 0 0 1 0 31.831
                          a 15.9155 15.9155 0 0 1 0 -31.831" />
                        <text x="18" y="20.35" class="percentage">65%</text>
                    </svg>
                </div>
            </div>

            <div class="panel grafiek">

            </div>

            <div class="panel map">
                <img src="/No_colonies_blank_world_map.png">
            </div>

            <div class="panel dashboard-info">
                <span>Track our progress on this dashboard and learn more about the upcoming and deployed cleanup
                    solutions.</span>

                <p>Our goal is to reduce floating plastic by 90% by 2040. According to our research, about 80% of
                    riverine plastic
                    pollution stems from 1000 rivers. </p>

                <p>To effectively clean up the oceans, we need to both clean up
                    the plastic
                    already in the ocean and intercept plastic on its way through rivers.</p>
            </div>

            <div class="panel share">
                <h3>test</h3>
            </div>

        </div>
    </main>

    <a href="#top" class="scroll-top">
        <i class="fas fa-arrow-up"></i>
    </a>

    <%- include('./partials/foot.ejs') %>