<%- include('./partials/head.ejs') %>


    <div class="navbar">
        <nav class="nav">
            <img src="/1200px-The_Ocean_Cleanup_logowhite.png">

            <ul class="nav-list">
                <a href="#" class="nav-link active">
                    <i class='bx bx-grid-alt nav-icon'></i>
                    <li>Dashboard</li>
                </a>
                <a href="#" class="nav-link">
                    <i class='bx bx-world nav-icon'></i>
                    <li>Map</li>
                </a>

                <button class="darkmode">
                    <a href="#" class="nav-link">
                        <i class='ri-contrast-2-line nav-icon'></i>
                        <li><span id="darkmode-btn-text">Light</span></li>
                    </a>
                </button>
        </nav>
        </ul>
    </div>

    <main>


        <div class="container2">
            <div class="header-dashboard">
                <h1>Dashboard</h1>
                <div class="searchbar">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Search...">
                </div>
            </div>

            <div class="menu">
                <div class="line"></div>
            </div>

            <div class="panel box-1">
                <h2>Total</h2>
                <div class="col">
                    <p class="count-num" data-count="600000000">353874119</p> kg
                </div>
            </div>

            <div class="panel box-2">
                <h2>Last 30 days</h2>
                <p>343.567.9 kg</p>
            </div>

            <div class="panel box-3">
                <div class="pulse-container">
                    <div class="status-pulse">
                        <div class="pulse green"></div>
                    </div>
                    <h2>In operation</h2>
                </div>

                <p>10 interceptors</p>


            </div>

            <div class="panel box-4">
                <h2>Percentage</h2>
                <div class="single-chart">
                    <svg viewBox="0 0 36 36" class="circular-chart green">
                        <path class="circle-bg" d="M18 2.0845
                          a 15.9155 15.9155 0 0 1 0 31.831
                          a 15.9155 15.9155 0 0 1 0 -31.831" />
                        <path class="circle" stroke-dasharray="60, 100" d="M18 2.0845
                          a 15.9155 15.9155 0 0 1 0 31.831
                          a 15.9155 15.9155 0 0 1 0 -31.831" />
                        <text x="18" y="20.35" class="percentage">65%</text>
                    </svg>
                </div>
            </div>

            <div class="panel grafiek">
                <h3>Share dashboard</h3>
            </div>

            <div class="panel map">
                <img src="/No_colonies_blank_world_map.png">
            </div>

            <div class="panel dashboard-info">
                <span>Track our progress on this dashboard and learn more about the upcoming and deployed cleanup
                    solutions.</span>

                <p>Our goal is to reduce floating plastic by 90% by 2040. According to our research, about 80% of
                    riverine plastic
                    pollution stems from 1000 rivers. </p>

                <p>To effectively clean up the oceans, we need to both clean up
                    the plastic
                    already in the ocean and intercept plastic on its way through rivers.</p>
            </div>

            <div class="panel share">
                <h3>test</h3>
            </div>

        </div>
    </main>

    <a href="#top" class="scroll-top">
        <i class="fas fa-arrow-up"></i>
    </a>

    <%- include('./partials/foot.ejs') %>