<%- include('./partials/head.ejs') %>

    <%- include('./partials/nav.ejs') %>


        <main>

            <div class="styleguide-container">
                <section class="styleguide-panel">
                    <h4>Color palette</h4>

                    <ul class="styleguide-list">
                        <div class="primary-colors">
                            <div class="color-panel">
                                <li class="light-blue-5CC8DE"></li>
                                <p class="color-name">lightblue</p>
                            </div>

                            <div class="color-panel">
                                <li class="dark-blue-143653"></li>
                                <p class="color-name">Darkblue</p>
                            </div>

                            <div class="color-panel">

                                <li class="light-gray-f7f7f7"></li>
                                <p class="color-name">LightGray</p>
                            </div>

                        </div>

                    </ul>

                </section>

                <section class="styleguide-panel">
                    <div class="line"></div>
                    <h4>Typography</h4>

                    <div class="styleguide-fonts">

                        <div class="primary-font">
                            <h1 class="styleguide-h1"><span class="uppercase"> abcdefghijklmnopqrstuvwxyz</span>
                                1234567890
                            </h1>
                        </div>
                        <div class="secundary-font">
                            <h5 class="styleguide-h1"><span class="uppercase"> abcdefghijklmnopqrstuvwxyz</span> <br>
                                1234567890
                            </h5>
                        </div>


                    </div>

                </section>


                <section class="styleguide-panel">
                    <h4>icons</h4>
                    <div class="styleguide-icons">

                        <div class="pulse-container">
                            <div class="status-pulse">
                                <div class="pulse-marker green"></div>
                            </div>
                        </div>

                        <div class="pulse-container">
                            <div class="status-pulse">
                                <div class="pulse-marker gray"></div>
                            </div>
                        </div>

                        <div class="pulse-container">
                            <div class="status-pulse">
                                <div class="pulse-marker blue"></div>
                            </div>
                        </div>


                    </div>
                </section>
            </div>
        </main>





        </div>

        </main>

        <%- include('./partials/foot.ejs') %>