/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@font-face {
  font-family: 'Proxima';
  font-weight: bold;
  src: url("/ProximaNovaFont.otf") format("opentype");
}

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(228, 81%, 49%);
  --title-color: hsl(228, 12%, 15%);
  --text-color: hsl(228, 8%, 50%);
  --body-color: hsl(228, 100%, 99%);
  --Primary-blue: #5CC8DE;
  --Dark-blue: #143653;
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Proxima', sans-serif;
  --normal-font-size: .938rem;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  top: 4rem;
  position: relative;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--Dark-blue);
}

h1 {
  color: var(--title-color);
}

h2 {
  font-size: 1.3rem;
  margin-bottom: .5rem;
  text-transform: uppercase;
  color: var(--Dark-blue);
}

h3 {
  font-size: 0.9rem;
  color: var(--Dark-blue);
}

span {
  font-size: .9rem;
  color: var(--Dark-blue);
  font-weight: bold;
  font-family: 'Proxima';
}

a {
  text-decoration: none;
}

p {
  font-size: .85rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: var(--Dark-blue);
}

.line {
  height: 2px;
  width: 20%;
  background-color: var(--Primary-blue);
  margin-top: .2rem;
  margin-bottom: .7rem;
}


/*=============== NAV ===============*/
.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.section {
  padding: 2rem 0;
}

@media screen and (max-width: 767px) {

  .nav-logo,
  .nav-toggle,
  .nav-name {
    display: none;
  }

  .nav-container {
    position: fixed;
    top: 0;
    background-color: var(--container-color);
    box-shadow: 0 1px 10px hsla(228, 81%, 24%, .15);
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .4s;
    z-index: 2;
  }

  .logo {
    width: 7.5rem;
    height: auto;
    background-color: var(--Primary-blue);
    padding: 1rem;
    left: 0;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    margin: 0 auto;
  }
}

.nav-link {
  display: flex;
  color: var(--text-color);
  font-weight: 500;
  transition: .3s;
}

.nav-link i {
  font-size: 1.5rem;
}

.nav-link:hover {
  color: var(--Primary-blue);
}

/* Active link */
.active-link {
  color: var(--Primary-blue);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .nav-list {
    column-gap: 20px;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav-list {
    width: 332px;
  }
}

@media screen and (min-width: 767px) {

  body {
    top: 0;
  }

  .container {
    margin-left: 7rem;
    margin-right: 1.5rem;
  }

  main {
    width: 80%;
    float: right;
  }

  .nav {
    width: 15%;
    position: fixed;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 1px 0 4px hsla(228, 81%, 49%, .15);
    width: 220px;
    height: 100vh;
    padding: 1.9rem;
    transition: .3s;
  }

  .logo {
    display: none;
  }

  .nav-logo-img {
    padding: 0;
  }

  .nav-logo,
  .nav-link {
    align-items: center;
    column-gap: 1rem;
  }

  .nav-list {
    display: grid;
    row-gap: 2.5rem;
    margin-top: 10.5rem;
  }

  .nav-content {
    overflow: hidden;
    height: 100%;
  }

  .nav-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--title-color);
    color: #fff;
    border-radius: 50%;
    font-size: 1.20rem;
    display: grid;
    place-items: center;
    top: 2rem;
    right: -10px;
    cursor: pointer;
    transition: .4s;
  }
}

/* Show menu */
.show-menu {
  width: 84px;
}

/* Rotate toggle icon */
.rotate-icon {
  transform: rotate(180deg);
}

/* For 2K & 4K resolutions */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.7;
  }
}

@media screen and (min-width: 3840px) {
  body {
    zoom: 2.5;
  }
}


.ocean {
  fill: var(--Primary-blue);
}

.land {
  fill: #DDDCDC;
}

.boundary {
  fill: none;
  stroke: #9fa8ad;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/* Layout and grid styling */
.background-container {
  height: 100vh;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .2fr 4fr;
  grid-auto-flow: row;
  height: 84%;
  padding: 1rem;
  gap: 1rem;
  grid-template-areas:
    "empty subtotal"
    "dash-info dash-info"

}

.panel {
  color: black;
  padding: 1rem;
  background-color: white;
  box-shadow: rgb(219, 219, 219) 0px 0px 8px;
  transition: .2s;
  position: relative;
}

.subtotal {
  grid-area: subtotal;
  position: relative;
}

.dash-info {
  grid-area: dash-info;
  position: relative;
}

.textblock {
  background-color: white;
  box-shadow: rgb(219, 219, 219) 0px 0px 8px;
  padding: 1rem;
  margin-bottom: 5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.hide {
  display: none;
}

/* TEST */