@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
  font-family: 'Proxima';
  src: url("/ProximaNovaFont.otf") format("opentype") weight("normal");
  src: url("/Proxima-Nova-Bold.otf") format("opentype") weight("bold");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proxima', sans-serif;
}

:root {
  --darkBlue: #143653;
  --lightBlue: #5CC8DE;
  --whiteColor: #ffffff;
  --lightGray: #f7f7f7;
  --textColor: #143653;
  --boxShadow: rgba(128, 128, 128, 0.132);
  --textSize: 1.2rem;
  --iconSize: 2rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--lightGray);
  color: var(--textColor);
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--darkBlue);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  all: unset;
  text-align: center;
}

::-webkit-scrollbar {
  width: .8rem;
}

::-webkit-scrollbar-track {
  background: var(--lightGray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blueColor);
}

/*=====  NAV =====*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5.5rem;
  background-color: var(--whiteColor);
  box-shadow: var(--boxShadow) 0px 0px 8px;
  z-index: 100;
}


.nav {
  height: 5.5rem;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}


.nav img {
  left: 0;
  top: 0;
  width: 11rem;
  height: 100%;
  padding: 1rem;
  background-color: var(--lightBlue);
}


.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 0 auto;
}

.nav-link {
  text-align: center;
  color: var(--darkBlue);
  font-size: 1.5rem;
}

.nav-link li {
  text-align: center;
  color: var(--darkBlue);
  font-size: 1.3rem;
  text-transform: uppercase;
}

.active {
  color: var(--lightBlue);
}

.nav-icon {
  font-size: 2.5rem;
}

@media screen and (min-width: 767px) {

  /*=====  NAV =====*/
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100vh;
    box-shadow: var(--boxShadow) 0px 0px 8px;
  }

  .nav-list {
    display: block;
  }

  .nav img {
    width: 20rem;
    height: auto;
    padding: 2rem 3.5rem;
  }

  .nav {
    height: 60%;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .nav-link {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;

  }

  .nav-link:hover {
    color: var(--first-color);
  }

  .nav-icon {
    font-size: 2rem;
  }

  .active {
    color: var(--first-color);
  }
}



/* Grid */
.container2 {
  margin: 8rem 1.5rem 1.5rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 0.1fr, 0.3fr, 2fr, 2fr, 1fr, 1fr, 1fr, 1fr;
  gap: 1.2rem;
  grid-template-areas:
    "menu menu"
    "header-dashboard header-dashboard"
    "dashboard-info dashboard-info"
    "map map"
    "box-1 box-2"
    "box-3 box-4"
    "grafiek grafiek"
    "share share";
}

.dashboard-info p {
  font-size: 1.3rem;
  line-height: 1.4;
  color: var(--textColor);
  margin-top: 0.5rem;
  font-family: 'Proxima', sans-serif;
}

.dashboard-info span {
  font-size: 1.3rem;
  line-height: 1.4;
  color: var(--textColor);
  font-weight: bold;
  font-family: 'Proxima', sans-serif;
}


.header-dashboard {
  display: flex;
  justify-content: space-between;
  grid-area: header-dashboard;
}

.menu {
  grid-area: menu;
}

.grafiek {
  grid-area: grafiek;
}

.map {
  grid-area: map;
}

.box-1 {
  grid-area: box-1;
}

.box-2 {
  grid-area: box-2;
}

.box-3 {
  grid-area: box-3;
}

.box-4 {
  grid-area: box-4;
}

.dashboard-info {
  grid-area: dashboard-info;
}

.share {
  grid-area: share;
}

.header-dashboard h1 {
  font-size: 2rem;
}

.line {
  height: 2px;
  width: 18%;
  background-color: var(--lightBlue);
}

.map img {
  width: 100%;
}

.box-1,
.box-2,
.box-3,
.box-4,
p {
  font-size: 1.7rem;
  color: var(--lightBlue);
  font-family: 'Roboto Mono', monospace;
}

.box-1,
.box-2,
.box-3,
.box-4,
h2 {
  font-size: 1.3rem;
  color: var(--darkBlue);
}

.panel {
  border-radius: .5rem;
  padding: 1rem;
  background-color: var(--whiteColor);
  box-shadow: var(--boxShadow) 0px 0px 8px;
  transition: .2s;
}

.menu-container {
  display: flex;
  justify-content: left;
  gap: 2rem;
  align-items: center;
}

.menu-container li {
  font-size: 1.2rem;
  color: grey;
  /* font-weight: bold; */
  text-transform: uppercase;
}

/* Scroll to top */
.scroll-top {
  position: absolute;
  bottom: 1%;
  right: 2%;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  background-color: var(--lightBlue);
  color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.scroll-top i {
  font-size: var(--fs16);
}

/* Circle */

.single-chart {
  width: 100%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.green .circle {
  stroke: var(--lightBlue);
}

.percentage {
  fill: var(--textColor);
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}




/* Pulse */
.status-pulse {
  width: 10%;
}

.pulse {
  background: black;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

.pulse.green {
  background: rgb(132, 206, 95);
  box-shadow: 0 0 0 0 rgb(132, 206, 95);
  animation: pulse-green 2s infinite;
}

.pulse-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .3rem;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(132, 206, 95);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

/* Breakpoints medium screen */
@media (min-width:992px) {
  .container2 {
    margin: 1.5rem 2rem 2rem 22.3rem;
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    grid-template-rows: 0.3fr 0.2fr 2.5fr 1fr 1fr 1fr;
    gap: 2rem;
    grid-template-areas:
      "header-dashboard header-dashboard"
      "menu menu"
      "grafiek map"
      "box-1 box-2"
      "box-3 box-4"
      "dashboard-info share";
  }

  .header-dashboard h1 {
    font-size: 3rem;
  }
}

/* Breakpoints large screen */

@media (min-width:1200px) {
  .container2 {
    margin: 4.2rem 2rem 2rem 22.3rem;
    grid-template-columns: 1fr 1.2fr 1.2fr 1.3fr;
    grid-template-rows: 0.2fr 0.1fr 0.4fr 1.5fr 1.1fr;
    grid-template-areas:
      "header-dashboard header-dashboard header-dashboard header-dashboard"
      "menu menu menu menu"
      "box-1 box-2 box-3 box-4"
      "dashboard-info dashboard-info map map"
      "grafiek grafiek share share";
  }
}